
@{
    ViewBag.Title = "Index";
}

<a href="@Url.Action("Index", "Group")">Index</a> |
<a href="@Url.Action("Add", "Group")">Add</a> |
<br /><br />
<h2>Index</h2>
<table>
    <tr>
        <td>
            <p>ID</p>
        </td>
        <td>
            <p>Name</p>
        </td>
        <td>
            <p>Description</p>
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@item.Id</p>
            </td>
            <td>
                <p>@item.Name</p>
            </td>
            <td>
                <p>@item.Description</p>
            </td>
            <td>
                <p><a href="@Url.Action("Edit", "Group", new { item.Id })">Редактировать</a></p>
            </td>
            <td>
                <p><a href="@Url.Action("Delete", "Group", new { item.Id })">Удалить</a></p>
            </td>
        </tr>
    }
</table>



