@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}
<h2>Список групп</h2>
<table>
    @if (User.IsInRole("Admin"))
            {
        <p><a href="@Url.Action("Add", "Group")">Добавить группу</a></p>
    }
    <tr>
        <td>
            <p>ID</p>
        </td>
        <td>
            <p>Name</p>
            
        </td>
        <td>
            <p>Description</p>
        </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <p>@item.Id</p>
            </td>
            <td>
                <p><a href="@Url.Action("Group", "Group", new { item.Id })">@item.Name</a></p>
            </td>
            <td>
                <p>@item.Description</p>
            </td>
            <td>
                <p><a href="@Url.Action("Subscribe", "Group", new { item.Id, userId = User.Identity.GetUserId() })">Подписаться</a></p>
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <p><a href="@Url.Action("Edit", "Group", new { item.Id })">Редактировать</a></p>
                </td>
                <td>
                    <p><a href="@Url.Action("Delete", "Group", new { item.Id })">Удалить</a></p>
                </td>
            }
        </tr>
    }
</table>



